<% provide(:title, 'NEW CONTACT PAGE TASK') %>



<h1>CONNNTAAAAAAAAAAAAAAAAKTTTTTTTTTTTT!</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>
2345679807786754321456789765432145678
<br>
<br>
<br>
<br>
<b>index111</b>

<br>
<br>
